@import url("https://use.typekit.net/apc2ueg.css");

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    overflow: hidden;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#scene-container {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
}

#landing-page {
    position: fixed;
    z-index: 4;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#loading-screen {
    position: fixed;
    z-index: 2;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#landing-bg {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url("third-party/textures/posy.jpg");
}

#loading-bg {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url("third-party/textures/posy.jpg");
}